data/
Fruit-Freshness-Detection\bb.jpeg/
Fruit-Freshness-Detection\fa.jpeg/
Fruit-Freshness-Detection\fo.jpeg/
Fruit-Freshness-Detection\ra.jpeg/
Fruit-Freshness-Detection/ro.jpeg/
Fruit-Freshness-Detection\ro1jpeg.jpeg/
Fruit-Freshness-Detection/test-image.jpg/
.ffd/